body{
    font-family: cursive;
    margin: auto;
}

.field {
    margin-top:20px;
    position: relative;
    left: 610px;
    display: grid;
    grid-template-columns: repeat(8, 40px); 
   
}

button {
    height: 40px;
    font-size: 20px;
    text-align: center;
}

h1 {
    text-align: center;
}

.table{
    font-size: 40px;
    color: white;
    margin-left: 660px;
    
}

.newGame {
    font-size: 25px;
    width: 200px;
    height: 40px;
    background:#FFEB3B;
    border-radius: 5px;
    margin:20px 0 0 670px;
}

.block-input {
    display: block;
    width: 690px;
    background:#FFEB3B;
    border-radius: 5px;
    margin:auto;
    padding:0 0 20px 20px;
}

.block-input h2 {
    text-align: center;
}

.setBtn {
    font-size: 20px;
    width: 100px;
    height: 30px;
    background:#d1cfbf;
    border-radius: 5px;
    margin: 10px;
    
}